# Core dependencies
torch>=1.12
torchaudio>=0.12
numpy
scipy
pandas
librosa
tqdm

# Audio processing
soundfile
sox

# FastPitch and Piper
@nemo_toolkit[all] @ git+https://github.com/NVIDIA/NeMo.git@main
#piper @ git+https://github.com/rhasspy/piper.git

# Optional but useful for dev/debug
matplotlib
jupyter
